body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}
.spinner {
    border: 5px solid #f3f3f3;
    /*Lightgrey*/border-top: 5px solid #3d3d3d;
    /*Grey*/border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
    pointer-events: none;
    -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
        0% {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
        }
        100% { 
            transform: rotate(360deg); 
            -webkit-transform: rotate(360deg); 
            -moz-transform: rotate(360deg); 
            -ms-transform: rotate(360deg); 
            -o-transform: rotate(360deg); 
        }
}
.loader {
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}
.textBox {
    z-index: 10;
    padding: 1.5rem;
    width: 100%;
    height: auto;
    color: white;
    background-color: rgba(0,0,0,0.35);
    backdrop-filter: blur(12px);
    border: 3px solid orangered;
    border-radius: 3vh;
    -webkit-border-radius: 3vh;
    -moz-border-radius: 3vh;
    -ms-border-radius: 3vh;
    -o-border-radius: 3vh;
}
.mainTitle {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
    text-align: left;
}
.secondaryInfo {
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 1.8vmin;
    text-align: left;
}
.outlineFont {
    font-family: 'Inter';
    font-weight: 100;
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: #eeeeee;
    -webkit-text-fill-color:#000000;
    font-size: 3.2em;
}
.enterBtn {
    font-weight: bold;
    color: white;
    font-size: 2.7em;
    pointer-events: all;
}
.invertButton {
    background-color: orangered;
    color: white;
    cursor: pointer;
    pointer-events: all;
}
.adjustHeight {
    height: 100%;
}
button.button:focus {
    background-color: black;
    color: white;
}
button:hover {
    cursor: pointer;
}
@media (max-width: 767px) {
    .adjustHeight {
        height: auto;
    }
    .enterBtn {
        width: fit-content;
        text-align: right;
        flex-grow: 1;
    }
    .invertButton {
        width: fit-content;
        text-align: right;
        flex-grow: 1;
    }
    .outlineFont {
        font-size: 1.6rem;
        width: 100%;
        text-align: center;
    }
    #buttonContainer {
        flex-direction: row;
    }
}
@media (max-height: 720px){
    .outlineFont{
        font-size: 1.2rem;
    }
}
@media screen and (max-device-width: 767px){
    button {
        border: none;
        background-color: #fcfcfc;
        border-width: 0;
        color: black;
        border-radius: 20px;
        text-align: center;
        font-size: 1rem;
    }
    .mainTitle {
        font-size: 1.6rem;
    }
}
@media (max-width: 960px) {
    body {
        font-size: small;
    }
    .secondaryInfo {
        height: auto;
        max-height: 50vh;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .secondaryInfo::-webkit-scrollbar {
        display: none;
    }
    .enterBtn {
        font-size: 3rem;
        text-align: center;
    }
    .invertButton {
        text-align: center;
    }
}
